header{
    text-align: center;
    background-color: aliceblue;
    line-height: 50px;
}

.Anterior{
    background-color: antiquewhite;
}

.siguente{
    text-align: right;
    background-color: blanchedalmond;
    
}

ul{
    list-style-type: disc;
    font-size: 110%;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}
.imagen img{
    max-width: 50%; 
    max-height: 50%;
}

footer{
    text-align:center;
    background-color: ghostwhite;
    font-size: 90%;
}